details {
	@apply border-b;
}

summary {
	@apply text-blue-20 text-base relative list-none cursor-pointer text-blue-20 font-avantgarde py-4;
}

.dkb-faq__content {
	@apply pb-4 text-base;
}

	/* Details marker */

	summary::-webkit-details-marker {
		display: none;
	}

	details summary::before {
		@apply rounded-full bg-blue-95 text-blue-30 text-center align-middle right-0 absolute;
		content:"";
		background-image: url('/assets/images/faq/expand.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transition: all .25s ease;
		width: 24px;
		height: 24px;
	}

	/* By using [open] we can define different styles when the disclosure widget is open */

	details[open] summary::before { 
		background-image: url('/assets/images/faq/collapse.svg');
		transform: rotate(180deg);
	}