<details class="module module--faq dkb-faq border-b">
	<summary class="text-blue-20 font-avantgarde py-2">
		How can Sales Cloud help my business grow?
	</summary>
	<div class="a11y-faq-module__content">
		<p>Phasellus at congue lorem, sit amet lobortis leo. Quisque id lectus et quam porttitor eleifend a ac quam. Mauris quis nibh bibendum, ullamcorper ex nec, ultrices sem. Vestibulum sit amet erat lacus. Sed eget ex congue, faucibus libero non, luctus tellus. Nulla facilisi. Fusce accumsan felis orci, ac semper tellus egestas aliquet. Curabitur eget magna ornare, blandit nibh in, pulvinar leo. Aliquam tincidunt risus sit amet erat consequat semper. Quisque leo arcu, interdum et ullamcorper in, interdum nec magna. Duis tincidunt nisl convallis blandit ultrices. Integer in scelerisque urna. Vivamus luctus felis eget lectus mollis consectetur eu eu nibh. Morbi tincidunt condimentum orci vitae venenatis. Donec ipsum quam, pellentesque egestas vestibulum eu, volutpat at sem.</p>
	</div>
</details>