{% from "../headline/macro.njk" import dkbHeadline with context %}
{% from "../figure/macro.njk" import dkbFigure with context %}

{#
variation:
- horizontal
- vertical
#}

{{ cardSets }}
	{% if params.set === 1 %}
		{% set heading_size = '2xl' %}
	{% else %}
		{% set heading_size = content.heading_size %}
	{% endif %}
{{ cardSets }}

<div
	class="component component--card dkb-card {{ params.card_classes }}"
>
	<a
		href="{{ params.href }}"
		class="flex flex-wrap block"
		tabindex="-1"
	>
		{{ dkbFigure(
				figure_classes=image.figure_classes+" card__image",
				src=image.src,
				params=image.image_params,
				alt=image.image_alt,
				figcaption=image.image_figcaption,
				srcset=image.image_srcset,
				sizes=image.image_sizes,
				image_classes=image.image_classes,
				width=image.image_width,
				height=image.image_height
			)
		}}
	</a>
	{#
	{{ headline(
			eyebrow_text=content.eyebrow_text,
			eyebrow_classes=content.eyebrow_classes,
			headline_classes=content.headline_classes,
			heading_text=content.heading_text,
			heading_size=heading_size,
			heading_level=content.heading_level,
			heading_classes=content.heading_classes,
			heading_url=content.heading_url,
			description_text=content.description_text,
			description_classes=content.description_classes,
			ctas=content.ctas
		)
	}}
	#}
</div>
