{#

Sizes: Small, Default, Large (Hero)

Variation: Primary, secondary, terterary, text

#}


{# Set a button size. If empty, no clasess are applied #}

{{ setDisplay }}
	{% if params.display === 'block' %}
		{% set display = "block" %}
	{% elif params.display === 'inline-block' %}
		{% set display = "inline-block" %}
	{% else %}
		{% set display = '' %}
	{% endif %}
{{ setDisplay }}

{{ setSize }}
	{% if params.size === 'lg' %}
		{% set size = "button--lg" %}
	{% elif params.size === 'md' %}
		{% set size = "button--md" %}
	{% elif params.size === 'sm' %}
		{% set size = "button--sm" %}
	{% else %}
		{% set button_size = '' %}
	{% endif %}
{{ setSize }}

{{ setVariation }}
	{% if params.variation === 'primary' %}
		{% set variation = "button--primary" %}
	{% elif params.variation === 'secondary' %}
		{% set variation = "button--secondary" %}
	{% elif params.variation === 'tertiary' %}
		{% set variation = "button--tertiary" %}
	{% elif params.variation === 'text' %}
		{% set variation = "button--text" %}
	{% else %}
		{% set variation = '' %}
	{% endif %}
{{ setVariation }}

{# Button template #}

<a
	href="{{ params.href }}"
	class="button {{ variation }} {{ size }} {{ params.classes }} {{ display }}"
	{% if params.target %}target="{{ params.target }}"{% endif %}
>
	<span class="button__text">
		{{ params.text }}
	</span>
</a>