<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }} </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/assets/css/style.min.css" rel="stylesheet">

</head>
<body>

	<div class="container mx-auto my-10">
		{{ content | safe }}
	</div>

</body>
</html>