<figure
	class="molecule molecule--blockquote dkb-blockquote pt-14"
>
	<blockquote
		class="blockquote__text text-4xl mb-6 font-avantgarde leading-tight relative"
	>
		{{ params.quote | safe }}
	</blockquote>
	{% if params.cite %}
	<figcaption class="text-sm uppercase font-avantgarde text-blue-20 block">
		&mdash; {{ params.cite }}
	</figcaption>
	{% endif %}
</figure>

