<figure
	class="molecule molecule--blockquote"
>
	<blockquote class="text-3xl mb-3">
		{{ params.quote | safe }}
	</blockquote>
	{% if params.cite %}
	<figcaption>
		&mdash; {{ params.cite }}
	</figcaption>
	{% endif %}
</figure>

