<figure
	class="molecule molecule--blockquote"
>
	<blockquote>
		{{ params.quote | safe }}
	</blockquote>
	{% if params.cite %}
	<figcaption>
		{{ params.cite }}
	</figcaption>
	{% endif %}
</figure>

